In [1]:
import pandas as pd
import sqlite3

con = sqlite3.connect("pokemon-tcg-database.sqlite3")
df = pd.read_sql_query("SELECT * from energy_card", con)
df.head()

DatabaseError: Execution failed on sql 'SELECT * from energy_card': no such table: energy_card